<!DOCTYPE html>
<html>
<body>

<h1>Statistics</h1>
<p>These are the statistics for the {{runs}} runs of {{dim}}-D random walks with {{steps}} steps you just ran.</p>


<h2>Run More Bulk Random Walks<h2>
<form method="POST">
  <label for="dim">Dimension:</label><br>
  <input type="text" id="dim" name="dim" value="3"><br>
  <label for="steps">Steps:</label><br>
  <input type="text" id="steps" name="steps" value="2500"><br>
  <label for="runs">Number of Runs:</label><br>
  <input type="text" id="runs" name="runs" value="2000"><br><br>
  <input type="submit" value="Run Another Batch of Bulk Walks">
</form> 

<p>placeholder text.</p>

</body>
</html>